<% provide(:title, 'privacy_policy') %>
<% @page_title = "個人情報保護方針" %>

<h1>privacy_policy</h1>
<p>
    This is the home page for the
  <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
    sample application.
</p>