<%#= 部分テンプレートファイル（複数の画面で共通に使うファイルは「_」アンダーバーをファイルの先頭に着ける
ファイル名はなんでもよい）
保存場所はapp/view配下ならどこでもよい　
部分テンプレートの埋め込みは、テンプレート内の埋め込みたい場所にrenderメソッドを使う
　render 'ディレクトリ名/部分テンプレート名'
-%>

<%#= 任意のコードは '＜% %＞' 値を返す式は'＜%= %＞' -%>

<li>
    <%= gravatar_for user, size:52 %>
    <%= link_to user.name ,user %>
    <% if current_user.admin? && !(current_user == user) %>
        | <%= link_to "delete", user, method: :delete, data: { confirm: "You sure?" } %>
    <% end %>
</li>