
<a href="https://study-rails-sample-app-mannaka.c9users.io/static_pages/about">About</a>
<a href="https://study-rails-sample-app-mannaka.c9users.io/static_pages/home">Contact</a>
<a href="https://study-rails-sample-app-mannaka.c9users.io/static_pages/help">Help</a>
<a href="https://study-rails-sample-app-mannaka.c9users.io/static_pages/privacy_policy">個人情報保護方針</a>
